<p>page works!</p>
<div style="display: flex; flex-direction: column; gap: 10px">
  <app-text-input [input1]="input1"></app-text-input>
  <app-checkbox [(value)]="showSecondInput"></app-checkbox>
<!--  {{showSecondInput && }}-->
  <app-text-input [input2]="input2" #inputComponent2></app-text-input>
  input2 value: "{{inputComponent2.value}}"
</div>
